:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --accent-bg-color: #2f303a;
}

body {
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* h1,
    h2,
    h3 {
        color: #212121;
    } */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.hidden {
    display: none;
    /* opacity: 0; */
}

/* .container {
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
} */

/* Logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo > .accent {
    color: var(--accent-color);
}

/* Header */

.header > .container {
    display: flex;
    width: 1200px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav .link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.general-nav {
    display: flex;
    margin-left: 90px;
}

.general-nav .item:not(:last-child) {
    margin-right: 50px;
}

.header .contacts {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.header .logo {
    display: block;
    color: var(--title-text-color);
}

.header .logo:hover,
.header .logo:focus {
    color: var(--accent-color);
}

.site-nav .link,
.header .contact {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact.link:hover,
.contact.link:focus,
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Footer */

.footer {
    background-color: var(--accent-bg-color);
}

.footer .container {
    display: flex;
    width: 1200px;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer .logo {
    display: block;
    color: var(--white-color);
}

.footer .footer-nav {
    display: flex;
    flex-direction: column;
}

.footer .footer-contacts {
    margin-top: 20px;
    padding: 0;
}

.footer .logo:hover,
.footer .logo:focus,
.address:hover,
.address:focus {
    color: var(--accent-color);
}

.address {
    color: var(--white-color);
}

.footer .contact {
    color: var(--primary-text-color);
}
