/* Hero */

.hero {
    background-color: var(--accent-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {
    margin: 0 auto;
    width: 740px;
    padding-left: 10px;
    padding-right: 10px;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .button {
    display: block;
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
    color: var(--accent-color);
    background-color: var(--white-color);
}

/* Sections */

.section-title,
.advantages-title,
.comand-title {
    color: var(--title-text-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Advantages Section */

.advantages-section .container {
    width: 1200px;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

.advantages-section .advantages {
    display: flex;
    margin: 0;
    padding: 0;
}

.advantages .item {
    width: calc((100%-90px) / 4);
}

.advantages .item:not(:last-child) {
    margin-right: 30px;
}

.advantages-section .section-title {
    margin: 0;
}

.advantages-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages .text {
    margin: 0;
}

/* Features section */

.features-section .container {
    width: 1200px;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

.features-section .section-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.features-section .features {
    display: flex;
    margin: 0;
    padding: 0;
}

.features .item {
    width: calc((100%-60px) / 3);
}

.features .item:not(:last-child) {
    margin-right: 30px;
}

/* Comand Section */

.comand-section {
    background-color: var(--secondary-bg-color);
}

.comand-section .container {
    width: 1200px;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

.comand-section .section-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.comand-section .comand-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.comand-list .item {
    width: calc((100%-90px) / 4);
    text-align: center;
    border-radius: 4px;

    background-color: var(--white-color);
}

.comand-list .item:not(:last-child) {
    margin-right: 30px;
}

.comand-title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.comand-section .text {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 1.19;
}
